@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
:root{
    --dark-color: #00051d;
    --light-color: #d8f3dc;
    --medium-color: #031366;
    --add-color: #ffb703;
    --nav-color: #219ebc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:var(--light-color)
}
.wrapper{
    min-height: 500vh;
    min-width:100vw;
    background-color: var(--dark-color);
}
header{
    width: 100vw;
    height: 75px;
    background: var(--dark-color);
    display:flex;
    flex-direction: row;
    padding:0 20px;
    justify-content: space-between;
    align-items: center;
}
h1 {
    color: var(--add-color);
    text-transform: uppercase;
    font-weight: 200;
    font-size: 3em;
    word-spacing: 5px;
    font-family: 'Poppins', sans-serif;
}
.nav-list{
    height: 75px;
    display:flex;
    flex-direction: row;
    list-style-type: none;
}
.nav-item a{
    color: var(--nav-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    font-weight:300;
    font-family: 'Poppins', sans-serif;
}
.nav-item{
    height:100%;
    padding:20px;
    display:flex;
    align-items: center;
    transition: all .5s;
}
.nav-item:hover{
    background-color: var(--add-color);

}
.nav-item:hover a{
    color:var(--dark-color);
    
}
.main{
    margin-left: 20px;
    margin-top: 20px;
}
h2{
    width: 30vw;
    font-size:2.5em;
    border-bottom: 5px solid var(--nav-color);
    font-weight: 500;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    
}
h3{
    width: 30vw;
    font-size:2em;
    font-weight: 500;
    line-height: 50px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
h4{
    width: 20vw;
    font-size:1.5em;
    border-bottom: 5px solid var(--dark-color);
    font-weight: 500;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
article > pre{
    max-width: 40%;
}
.code-double{
    width: 90vw;
    display:flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top:20px;
}

.half{
    width:40%;
}
.half:not(:first-of-type){
    margin-left: 30px;
}
.code-double pre:not(:first-of-type){
    margin-left: 20px;
}
.paragraph h3:first-of-type{
    margin-top: 20px;
}
.paragraph > *:nth-child(2){
    margin-top: 20px;
}
.paragraph:not(:first-of-type){
    margin-top: 25px;
}
.output{
    margin: 30px;
}
.entry-list{
    list-style-type: square;
    margin-left:30px;
}
.entry-list li{
    font-family: 'Poppins', sans-serif;
    margin-top:0 !important;
}
.small{
    width:30%;
}
.apexcharts-theme-light{
    background: var(--dark-color) !important;
}
.apexcharts-tooltip-title{
    background: var(--medium-color) !important;
}
.warning{
    color: var(--add-color);
}
strong{
    color:var(--add-color)
}
.notdouble{
    margin: 30px 0 10px 0;
    min-width:30vw;
    color : var(--add-color);
}
.cGallery{
    width:100vw;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}
.cList{
    width: 45vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--add-color);
    padding:3vh;
    margin: 1vw;
}
